<!DOCTYPE html>
<mat-toolbar color="accent">
  <mat-toolbar-row>
    <div class="toolbar no-select" routerLink="">
      <mat-icon style="margin-right: 5px;">home</mat-icon>
      <span>Online Shop</span>
    </div>
    <span class="example-spacer"></span>
    <div class="toolbar no-select">
      <button class="toolbar button" mat-flat-button color="basic" style="outline: 0.5px solid rgb(93, 92, 92);" routerLink="">Главная</button>
      <button class="toolbar button" mat-flat-button color="basic" style="outline: 0.5px solid rgb(93, 92, 92);" routerLink="basket">Корзина</button>
      <button class="toolbar button" mat-flat-button color="basic" style="outline: 0.5px solid rgb(93, 92, 92);" routerLink="favourites">Избранные товары</button>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
